<h1>Thought Journal</h1>
{{#if username}}
    Hello {{username}}
{{/if}}
{{#unless logged_in}}
    <p>Sign up</p>
{{/unless}}

{{#unless logged_in}}
    <h1>WELCOME TO THOUGH JOURNAL</h1>
    </p>Thought journal description</p>
{{/unless}}

{{#if logged_in}}
    <!--BUTTON TO ADD GOES HERE-->

    {{#each entries}}
        {{this.word}}
        {{this.User.email}}
        {{this.colorHex}}    
    {{/each}}

{{/if}}